@CHARSET "UTF-8";



a.admin {
	font-family: Arial,Helvetica,sans-serif;
	background-color: #EAEAEA;
	border: 1px solid #ffffff;
	color: black;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 4px 0 20px 0;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}


input[type="submit"] {
	font-family: Arial,Helvetica,sans-serif;
	border:1px solid #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin: 4px 0;
	padding: 4px;
	text-transform: uppercase;
}


.admin_logout  {
	position: absolute;
	right: 20px;
	top: 10px;
}

.client-admin-options input {
	float: left;
	margin-right: 20px;
}
