@CHARSET "UTF-8";

/* HTML5 ✰ Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video  {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
    font: inherit;
    font-weight: 400;
    vertical-align: baseline;
}
ol, ul {list-style: none;}
hgroup { display: block }




@font-face {
    font-family: 'DINRoundProRegular';
    src: url('/assets/fonts/dinroundpro-webfont.eot');
		src: local('☺'),
         url('/assets/fonts/dinroundpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/dinroundpro-webfont.woff') format('woff'),
         url('/assets/fonts/dinroundpro-webfont.ttf') format('truetype'),
         url('/assets/fonts/dinroundpro-webfont.svg#DINRoundProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundProBold';
    src: url('/assets/fonts/dinroundpro-bold-webfont.eot');
		src: local('☺'),
         url('/assets/fonts/dinroundpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/dinroundpro-bold-webfont.woff') format('woff'),
         url('/assets/fonts/dinroundpro-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/dinroundpro-bold-webfont.svg#DINRoundProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundProMedium';
    src: url('/assets/fonts/dinroundpro-medium-webfont.eot');
		src: local('☺'),
         url('/assets/fonts/dinroundpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/dinroundpro-medium-webfont.woff') format('woff'),
         url('/assets/fonts/dinroundpro-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/dinroundpro-medium-webfont.svg#DINRoundProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaBold';
    src: url('/assets/fonts/futura-bold-webfont.eot');
		src: local('☺'),
		url('/assets/fonts/futura-bold-webfont.eot') format('embedded-opentype'), 
		url('/assets/fonts/futura-bold-webfont.woff') format('woff'), 
		url('/assets/fonts/futura-bold-webfont.ttf') format('truetype'), 
		url('/assets/fonts/futura-bold-webfont.svg#FuturaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	font-family: Georgia, "Times New Roman", Times, serif;
    margin: 25px;
    background-color:#000000;
    color:#ffffff;
}

html { overflow-y: scroll }
a {color:#ffffff}
a:hover,
a:active { outline: none }
ul,
ol { margin-left: 2em }
label { cursor: pointer }
::selection {
    color: #fff;
    text-shadow: none;
}
a:link { -webkit-tap-highlight-color: #7b7b7b }
.ie7 img { -ms-interpolation-mode: bicubic }

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.pagewrapper {
	width:960px;
	margin: 0 auto;
	overflow:auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 60px;
}

#header {
	margin:30px 0 0 0;
	display:block;
	height:auto;
	/*overflow:hidden;  if the content inside your <div> is floated, it won't expand. You can easily fix this by placing the overflow:hidden CSS style to the parent <div> */
}

#header_wrapper {
	height:40px;
	margin-bottom: 28px;
	}

.clLogo {
	background: url('/assets/images/clLogo.gif')  no-repeat 0 0;
	display:block;
	width:204px;
	height:40px;
	float:left;
}
#header_nav {
	float:right;
}

#header_nav {
	font-family: FuturaBold;
	vertical-align:bottom;
	line-height: 40px; 
	color:#898989;
	font-size:60%;
	letter-spacing:2px;
}

#header_nav a {
	color:#898989;
}

#header_nav a.active {
	color:#ffffff;
}

div.horizontalRule {
    min-height: 1px;
    clear:both; 
	border-bottom:5px solid #ffffff;
    height:1px; 
    margin:0 0 28px 0;
}

div.thickHorizontalRule {
    min-height: 8px;
    clear:both; 
    border-bottom:8px solid #ffffff;
    height:8px; 
    margin:0 0 64px 0;
}

#content {
	clear:both;
}

.tab_wrapper {
	line-height: 51px; 
	margin-bottom:65px;
}

.tab_title {
	display:inline-block;
	/* width:164px; */
	padding:0 24px;
	height:51px;
	text-align: center;
	vertical-align: middle;
	line-height: 59px; 
	background-color:#ffffff;
	color:#000000;
	font-family: DINRoundProMedium,Arial,Helvetica,sans-serif;
	font-size:130%;
	float:left;
}
.tab_line {
	display:inline-block;
    height:8px; 
	vertical-align:bottom;
	background-color:#ffffff;
	width:100%;
	margin:0px;
}

#content .content_story .story_header .text {
	float:left;
	vertical-align: bottom;
}


#content .content_story .story_header .headline {
	font-family: FuturaBold,Arial,Helvetica,sans-serif;
	font-size:300%;
	margin-bottom:25px;
}

#content .content_story .story_header .subhead {
	text-transform:uppercase; 
	font-size:90%;
	margin-bottom:18px;
}

#content .content_story .story_header .description {
	font-size:110%;
	width:650px;
}


#content .content_story .story_header  img{
	vertical-align: bottom;
	float: right;
	position:absolute;
	bottom:0;
	right:0;
}

#content .content_story .story_header{
	position:relative;
	overflow:auto; /* on the containing div makes everything inside of it (even floated items) visible and the outer div fully wraps around them */
	margin-bottom:60px;
}

#content .content_story .video_title {
	font-family: FuturaBold,Arial,Helvetica,sans-serif;
	font-size:90%;
}

#content .content_story .project_video {
	margin-bottom:54px;
}

a.view_pdf {
	display:block;
	margin-bottom:30px;
}

#login_modal {
	color:#000000;
    width: 300px;
    margin: 23px auto 0;
    position: relative;
    width: 1140px;
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #AAAAAA;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
}

.spacer {
	clear:both;
	width:100%;
	height:60px;
	display:block;
}

#login_modal p {
	margin-bottom:10px;
}



.footer {
	font-family: FuturaBold,Arial,Helvetica,sans-serif;
	font-size:50%;
	width:100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	left:0;
	background-color: #333333;
	text-transform: uppercase;
}

.footer img {
	vertical-align: middle;
	margin:0 10px;
}


.footer>div {
	float:left;
	margin-left: 25px;
	line-height:40px;
	vertical-align: middle;
	letter-spacing:1px;
}

.footer>div.phone, .footer>div.email {
	float:right;
	margin-right: 25px;
}

.footer>div.phone {
	margin-right: 50px;
}

#signature {
	margin-top:10px;
}

#signature>img {
	vertical-align: middle;
}

#greeting, #signature {
	color: #898989;
}

#greeting {
	margin-bottom: 30px;
}

#featured_projects {
	width:598px;
	float: left;
}

#featured_articles,
#featured_news {
	width:315px;
	float:right;
}

#featured_news {
	margin-top:60px;
}

#featured_projects,
#featured_articles,
#featured_news,
#featured_projects>.featured_proj,
#featured_articles>.featured_article,
#featured_news>.featured_news_item
 {
	display:block;
}


#featured_projects>.featured_bar, 
#featured_articles>.articles_bar,
#featured_news>.news_bar,
.header_bar {
	font-family: FuturaBold,Arial,Helvetica,sans-serif;
	width: 100%;
	background-color: #2c2c2c;
	letter-spacing:1px;
	font-size: 60%;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#featured_projects>.featured_bar>.title, 
#featured_articles>.articles_bar>.title,
#featured_news>.news_bar>.title,
.header_bar>.title {
	float:left;
	margin-left: 15px;
}

#featured_projects>.featured_bar>.cta,
#featured_articles>.articles_bar>.cta,
#featured_news>.news_bar>.cta {
	float:right;
	background-color: #464646;
	padding:0 15px;
	color: #000000;
}

#featured_projects>.featured_bar>.cta a,
#featured_articles>.articles_bar>.cta a,
#featured_news>.news_bar>.cta a {
	color: #000000;
}

#featured_projects>.featured_proj {
	width:268px;
	float:left;
}

#featured_projects>.featured_proj>.client_name,
#featured_articles>.featured_article>.source,
#featured_news>.featured_news_item>.source {
	font-family: FuturaBold,Arial,Helvetica,sans-serif;
	margin: 20px 0 15px 0;
}

#featured_projects>.featured_proj>.tag_line,
#featured_news>.featured_news_item>.title {
	font-style:italic;
	margin-bottom: 20px;
}

#featured_projects>.featured_proj>.copy,
#featured_articles>.featured_article>.title,
#featured_news>.featured_news_item>.copy {
	font-size: 90%;
	margin-bottom: 15px;
	color:#acacac;
}

#featured_projects>.featured_proj>.cta,
#featured_articles>.featured_article>.name,
#featured_news>.featured_news_item>.cta {
	font-family: DINRoundProMedium,Arial,Helvetica,sans-serif;
	font-size: 70%;
	margin-bottom: 15px;
}


#featured_projects>.featured_proj>.cta,
#featured_news>.featured_news_item>.cta {
	text-decoration: underline;
}

#featured_projects>#clearance {
	margin-bottom: 30px;
}

#featured_projects>.featured_proj.col_left,
#featured_articles>.featured_article.col_left {
    float:left;
}

#featured_projects>.featured_proj.col_right,
#featured_articles>.featured_article.col_right {
    float:right;
}

#featured_articles>.featured_article {
	width:125px;
	padding: 0 15px;
}

#featured_news>.featured_news_item {
	padding: 0 15px;
}

#projects>.client_project div.horizontalRule {
    min-height: 1px;
    clear:both; 
	border-bottom:1px solid #2c2c2c;
    height:1px; 
    margin:0 0 28px 0;
}

#projects>.client_project>.client_info {
	width:300px;
	float:right;
}

#projects>.client_project>.project_video {
	float:left;
}








